{% extends "base/index.html" %} {% load static i18n %} {% block content %}
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 300px"
  >
    <h1 class="font-weight-semi-bold text-uppercase mb-3">
      {% trans 'Contact' %}
    </h1>
    <div class="d-inline-flex">
      <p class="m-0"><a href="">{% trans 'Home' %}</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">{% trans 'Contact' %}</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

{% if messages %}
  {% for message in messages %}
      <center>
          <div class="alert alert-{{ message.tags }}">
              {{ message }}
          </div>
      </center>
  {% endfor %}
{% endif %}

<!-- Contact Start -->
<div class="container-fluid pt-5">
  <div class="text-center mb-4">
    <h2 class="section-title px-5">
      <span class="px-2">{% trans 'Contact For Any Queries' %}</span>
    </h2>
  </div>
  <div class="row px-xl-5">
    <div class="col-lg-7 mb-5">
      <div class="contact-form">
        <div id="success"></div>
        <form method="POST" name="sentMessage" id="contactForm" novalidate="novalidate">
          {% csrf_token %}
          <div class="control-group">
            {{ form.full_name }}
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group">
            {{ form.email }}
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group">
            {{ form.subject }}
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group">
            {{ form.message }}
            <p class="help-block text-danger"></p>
          </div>
          <div>
            <button
              class="btn btn-primary py-2 px-4"
              type="submit"
              id="sendMessageButton"
            >
              Send Message
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-5 mb-5">
      <h5 class="font-weight-semi-bold mb-3">Get In Touch</h5>
      <p>
        {{ contact_info.text }}
      </p>
      <div class="d-flex flex-column mb-3">
        <p class="mb-2">
          <i class="fa fa-map-marker-alt text-primary mr-3"></i>{{ contact_info.address }}
        </p>
        <p class="mb-2">
          <i class="fa fa-envelope text-primary mr-3"></i>{{ contact_info.email }}
        </p>
        <p class="mb-2">
          <i class="fa fa-phone-alt text-primary mr-3"></i>{{ contact_info.phone_number }}
        </p>
        {% if contact_info.additional_phone_number %}
        <p class="mb-2">
          <i class="fa fa-phone-alt text-primary mr-3"></i>{{ contact_info.additional_phone_number }}
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
{% endblock %}
