{% extends "base/index.html" %}
{% load static i18n %}

{% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Shop Detail</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shop Detail</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                        <div class="carousel-item active">
                            <img class="w-100 h-100" src="{% if product.image %}{{ product.image.url }}{% endif %}" alt="Image">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">{{ product.name }}</h3>
                <h3 class="font-weight-semi-bold mb-4">{{ product.price }} AZN</h3>
                <p class="mb-4">{{ product.description }}</p>
                    <div class="d-flex mb-3">
                        <p class="text-dark font-weight-medium mb-0 mr-3">Sizes:</p>
                            {% for size in product.product_type.sizes.all %}
                            <div class="custom-control custom-radio custom-control-inline">
                                <input onclick="setChecked(this, 'size')" type="radio" class="custom-control-input" id="size-{{ size.id }}" value="{{ size.id }}" name="size">
                                <label class="custom-control-label" for="size-{{ size.id }}">{{ size.name }}</label>
                            </div>
                            {% endfor %}
                    </div>
                    <div class="d-flex mb-4">
                        <p class="text-dark font-weight-medium mb-0 mr-3">Colors:</p>
                            {% for color in product.product_type.colors.all %}
                            <div class="custom-control custom-radio custom-control-inline">
                                <input onclick="setChecked(this, 'color')" type="radio" class="custom-control-input" id="color-{{ color.id }}" value="{{ color.id }}" name="color">
                                <label class="custom-control-label" for="color-{{ color.id }}">{{ color.name }}</label>
                            </div>
                            {% endfor %}
                    </div>
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <div class="input-group quantity mr-3" style="width: 130px;">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-minus" >
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" id="product-qty" class="form-control bg-secondary text-center" value="1">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-plus">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <button onclick="createOrder()" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>
                    </div>
                <div class="d-flex pt-2">
                    <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-3">Reviews ({{ review_count }})</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade  show active" id="tab-pane-3">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="mb-4">{{ review_count }} review for "{{ product.name }}"</h4>
                                {% for review in reviews %}
                                <div class="media mb-4">
                                    <img src="{% if review.user.image %}{{ review.user.image.url }}{% else %}{% static 'img/default-avatar.jpg' %}{% endif %}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px; border-radius: 50%;">
                                    <div class="media-body">
                                        <h6>{{ review.user.get_full_name }}<small> - <i>{{ review.created_at }}</i></small></h6>
                                        <p>{{ review.text }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-6">
                                <h4 class="mb-4">Leave a review</h4>
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ form.text }}
                                    </div>
                                    <div class="form-group mb-0">
                                        <input type="submit" value="{% trans 'Leave Your Review' %}" class="btn btn-primary px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->


    <!-- Products Start -->
    <div class="container-fluid py-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">You May Also Like</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel related-carousel">
                    {% for other_product in other_products %}
                    <div class="card product-item border-0">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="{% if other_product.image %}{{ other_product.image.url }}{% endif %}" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">{{ other_product.name }}</h6>
                            <div class="d-flex justify-content-center">
                                <h6>{{ other_product.price }} AZN</h6>
                                {% comment %} <h6 class="text-muted ml-2"><del>{{ other_product.price }} AZN</del></h6> {% endcomment %}
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="{% url 'product-detail' other_product.slug %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Products End -->

{% endblock %}

{% block js %}
    <script>
        let productID = '{{ product.id }}'
        let order_create_url = "{% url 'create-product-item' %}"
    </script>
    <script src="{% static 'apps/product/createOrder.js' %}"></script>
{% endblock %}