{% extends "base/index.html" %}
{% load static i18n %}

{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Checkout</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4" id="shipping-address">
                    <h4 class="font-weight-semi-bold mb-4">Billing Info</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Card Number</label>
                            <input onkeyup="manageOrderButton(); checkValidCardNumber()" id="card-number" class="form-control" type="number" placeholder="4169543245675326">
                            <p class="d-none" id="card-number-error" style="font-size: 12; color: red">Kart nömrəsi 16 rəqəm olmalıdır</p>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Card Holder</label>
                            <input onkeyup="manageOrderButton()" id="card-holder" class="form-control" type="text" placeholder="Rick Sanchez">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Expire Date</label>
                            <input onkeyup="manageOrderButton()" id="expire-date" class="form-control" type="text" placeholder="11/28">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>CVV</label>
                            <input onkeyup="manageOrderButton(); checkValidCvv()" id="cvv" class="form-control" type="number" placeholder="123">
                            <p class="d-none" id="cvv-error" style="font-size: 12; color: red">CVV nömrəsi 3 rəqəm olmalıdır</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        {% for item in order.items.all %}
                        <div class="d-flex justify-content-between">
                            <p>{{ item.product.name }}</p>
                            <p>{{ item.get_total_price }} AZN</p>
                        </div>
                        {% endfor %}
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">{{ order.subtotal}} AZN</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">{{ order.shipping}} AZN</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">{{ order.total}} AZN</h5>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button id="order-button" disabled onclick="isDoneOrder()" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->
{% endblock %}

{% block js %}
<script>
    let is_done_url = "{% url 'order-is-done' order.id %}"
    let home_url = "{% url 'index' %}"
</script>

<script src="{% static 'apps/order/checkout.js' %}"></script>
{% endblock %}
